server
{
	listen 80;
	server_name 此处填写域名;
	root 此处填写目录;
	index index.html index.htm index.php;

	include /data/conf/nginx/common.conf;
	include /data/conf/nginx/php.conf;

	access_log /data/log/此处填写友好的配置名称.log;
}
